html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}
  
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100vw;
    height: 100vh;
}
  
.tip {
    display: none;
    position: absolute;
    overflow: visible;
    left: 0;
    top: 0;
}

.memories, .identity {
    color: whitesmoke;
    font-size: 100%;
    margin: 10px 0;
    padding: 0;
}

.mentionsLegales {
    width: 100vw;
    margin-top: 1.5%;
    margin-bottom: 2.5%;
    margin-right: 5%;
    display: flex;
    justify-content: right;
    color: whitesmoke;
    font-size: 0.50rem;
}

/*customPlayer*/

/*#player {
    margin-bottom: 85px;
    opacity: 0.5;
}
@media (min-width: 999px) {
    #player {
        margin-bottom: 0px;
    }
}*/

/*customControls*/

.audio-player {
    height: 75px;
    width: 100vw;
    background: black;
    box-shadow: 0 0 20px 0 black;
    color: whitesmoke;
    font-size: 0.75em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
    margin-bottom: 85px;
}

.audio-player .timeline {
    background: black;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 black;
}

.audio-player .timeline .progress {
    background: whitesmoke;
    width: 0%;
    height: 100%;
    transition: 0.25s;
}

.audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 25px;
}

.audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 9px solid black;
    border-left: 12px solid whitesmoke;
}

.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}

.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: whitesmoke;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 9px;
    background: whitesmoke;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
}

.audio-player .controls .time > * {
    padding: 2px;
}

.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
    height: 25px;
    display: flex;
    align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}

.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: whitesmoke;
    box-shadow: 0 0 20px black;
    transition: 0.25s;
}

.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: red;
    height: 100%;
    width: 25%;
}

.audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
}

.download-icon {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 5px;
}

/*responsive*/

@media (min-width: 769px) {
    .audio-player {
        margin-bottom: 0px;
        width: 50%;
    }
    .mentionsLegales {
        margin-top: 0.55%;
        margin-bottom: 0.75%;
        margin-right: 49%;
        font-size: 0.75rem;
    }
}

@media (max-width: 835px) {
    .volume-slider {
        display: none;
    }
}