html, body {
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    overflow:hidden;
    background:#000;
}
  
body {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
  
svg {
    width:100vw;
    height:100vh;
}
  
.tip {
    display: none;
    position:absolute;
    overflow:visible;
    left:0;
    top:0;
}

h1, h2 {
    color: white;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    margin: 10px 0;
    padding: 0;
}

audio {
    width: 100vw;
    margin-bottom: 85px;
}

#player {
    margin-bottom: 85px;
    opacity: 0.5;
}

@media (min-width: 999px) {
    audio {
        display: none;
    }
    #player {
        margin-bottom: 0px;
    }
}